h1{
    background-color: rgb(214, 13, 13); color: rgb(250, 248, 245);text-align: center;
}
#heading-three{
    background-color: black; color: white;
}
#heading-two{
    background-color: blue; color: white;
}
.heading-four{
    background-color: yellow; color: black;
}
.font{
    font-size: 30px;
}
.color{
    color: white;
}
.bg{
    background-color: black;
}
.color2{
    background-color: blue;
}